.chart1-container {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    border: solid white 0.05rem;
    padding: 1rem;
    margin: 1rem;
    overflow-x: scroll;
}

.chart1-container h2 {
    margin-left: auto;
    margin-right: auto;
}

.chart1 .bar-label {
    fill: #6b7280;
    font-size: 14px;
    font-weight: 500;
}

.chart1 .line {
    stroke: #E5E7EB;
    stroke-width: 0.5px;
}

.chart1 .bar-rect {
    fill: #4f46e5;
}

.chart1 .bar-value {
    fill: #374151;
    font-size: 12px;
    font-weight: bold;
}